## Bibliotecas

In [37]:
%matplotlib inline
# importar biblioteca Pandas
import pandas as pd

# importar Matplotlib biblioteca de gráficos
import matplotlib.pyplot as plt

# importar Seaborn biblioteca de gráficos
import seaborn as sns

import geopandas as gpd

# Importar Numpy, train_test_split
import numpy as np
from sklearn.model_selection import train_test_split

# importa o modelo de regressão linear, metrics, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import metrics

from sklearn.preprocessing import OrdinalEncoder

from sklearn.preprocessing import LabelEncoder

# acesso ao so e ao sys
import os
import sys

# Garbage collector, para recuperar memória após carregar o df inicial
import gc

import graphviz.backend as be
import statistics as sts

# Importar algoritmo
# from dtreeviz.trees import *
from IPython.display import Image, display_svg, SVG
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from mpl_toolkits.mplot3d import axes3d

# import dtreeviz

random_state = 1234

# controlar as notificações
from sklearn.exceptions import ConvergenceWarning
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)
pd.set_option("display.float_format", lambda x: "%.8f" % x)

%config InlineBackend.figure_format = 'retina' # Make visualizations look good
# %config InlineBackend.figure_format = 'svg'
%matplotlib inline

## Acessado os dados

In [38]:
url = "./faccionados_analise_vinculo.csv"

In [39]:
df = pd.read_csv(url, encoding="utf8", low_memory=False)

In [40]:
print(list(df.columns))
len(df.columns)

['Unnamed: 0', 'nome_completo', 'vulgo_alcunha', 'faccao', 'faccao_funcao', 'bairro_atual', 'cidade_atual', 'uf_atual', 'area_atuacao']

9

Tornar todos os NaN como 0 = não informado

In [41]:
df.fillna("NI", inplace=True)

In [42]:
df.head(5)

,Unnamed: 0,nome_completo,vulgo_alcunha,faccao,faccao_funcao,bairro_atual,cidade_atual,uf_atual,area_atuacao
0,1,KAYO NASCIMENTO DE MAGALHÃES,CABRA/ 99,NI,FINANCEIRO,NI,NI,NI,NI
1,2,JOSÉ MARIANO DOS SANTOS,RATO,NI,BRAÇO DIREITO,NI,NI,NI,NI
2,3,GIVALDO BARBOSA DE FRANÇA,QUINZINHO,NI,CHEFE/LÍDER,NI,NI,NI,NI
3,4,JOSÉ ERIVALDO DA PAZ,ÍNDIO,NI,CHEFE/LÍDER,NI,NI,NI,NI
4,5,LUCAS MANOEL DA SILVA,PROJETO,CV,SOLDADO DO TRÁFICO,NI,NI,NI,CLIMA BOM/FRONTEIRA

## Facções

In [43]:
print(df.groupby("faccao").size())

faccao
CV         75
NEUTRO     11
NI        107
PCC        33
SF          2
dtype: int64

In [44]:
df_grouped = df.groupby("faccao").size().reset_index(name="Contagem")
df_grouped = df_grouped.drop("Contagem", axis=1)
df_grouped["faccao_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
df_grouped.to_csv("faccao.csv", index=False)

In [45]:
df["faccao_id"] = df.faccao.copy()

In [46]:
df.faccao_id.replace(
    {
        "CV": 1,
        "NEUTRO": 2,
        "NI": 3,
        "PCC": 4,
        "SF": 5,
    },
    regex=True,
    inplace=True,
)

In [47]:
df.head(5)

,Unnamed: 0,nome_completo,vulgo_alcunha,faccao,faccao_funcao,bairro_atual,cidade_atual,uf_atual,area_atuacao,faccao_id
0,1,KAYO NASCIMENTO DE MAGALHÃES,CABRA/ 99,NI,FINANCEIRO,NI,NI,NI,NI,3
1,2,JOSÉ MARIANO DOS SANTOS,RATO,NI,BRAÇO DIREITO,NI,NI,NI,NI,3
2,3,GIVALDO BARBOSA DE FRANÇA,QUINZINHO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3
3,4,JOSÉ ERIVALDO DA PAZ,ÍNDIO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3
4,5,LUCAS MANOEL DA SILVA,PROJETO,CV,SOLDADO DO TRÁFICO,NI,NI,NI,CLIMA BOM/FRONTEIRA,1

## Função na Facção

In [48]:
print(df.groupby("faccao_funcao").size())

faccao_funcao
BRAÇO ARMADO               1
BRAÇO DIREITO              4
CHEFE/LÍDER               56
DISCIPLINA                 1
DISTRIBUIDOR/LOGÍSTICA    12
FINANCEIRO                 3
GERENTE                   37
NI                        12
OUTROS                     1
PAIOL/GUARDA-ROUPAS        4
SOLDADO DO TRÁFICO        74
VENDEDOR                  23
dtype: int64

In [49]:
df_grouped = df.groupby("faccao_funcao").size().reset_index(name="Contagem")
df_grouped = df_grouped.drop("Contagem", axis=1)
df_grouped["funcao_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
df_grouped.to_csv("funcao.csv", index=False)

In [50]:
df["funcao_id"] = df.faccao_funcao.copy()

In [51]:
df.funcao_id.replace(
    {
        "BRAÇO ARMADO": 1,
        "BRAÇO DIREITO": 2,
        "CHEFE/LÍDER": 3,
        "DISCIPLINA": 4,
        "DISTRIBUIDOR/LOGÍSTICA": 5,
        "FINANCEIRO": 6,
        "GERENTE": 7,
        "NI": 8,
        "OUTROS": 9,
        "PAIOL/GUARDA-ROUPAS": 10,
        "SOLDADO DO TRÁFICO": 11,
        "VENDEDOR": 12,
    },
    regex=True,
    inplace=True,
)

In [52]:
df.head(15)

,Unnamed: 0,nome_completo,vulgo_alcunha,faccao,faccao_funcao,bairro_atual,cidade_atual,uf_atual,area_atuacao,faccao_id,funcao_id
0,1,KAYO NASCIMENTO DE MAGALHÃES,CABRA/ 99,NI,FINANCEIRO,NI,NI,NI,NI,3,6
1,2,JOSÉ MARIANO DOS SANTOS,RATO,NI,BRAÇO DIREITO,NI,NI,NI,NI,3,2
2,3,GIVALDO BARBOSA DE FRANÇA,QUINZINHO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3
3,4,JOSÉ ERIVALDO DA PAZ,ÍNDIO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3
4,5,LUCAS MANOEL DA SILVA,PROJETO,CV,SOLDADO DO TRÁFICO,NI,NI,NI,CLIMA BOM/FRONTEIRA,1,11
5,6,VICTOR EMANUEL OLIVEIRA DOS SANTOS,VULGO DA CRUZ,NI,SOLDADO DO TRÁFICO,NI,NI,NI,"CLIMA BOM, ROSANE COLLOR",3,11
6,7,GILVANIO MARCOS OLIVEIRA SANTOS,GIL,NI,GERENTE,NI,NI,NI,GROTA DO CIGANO/ PORTO DE PEDRAS,3,7
7,8,DERIVALDO DA SILVA SANTOS,DERI,NI,CHEFE/LÍDER,NI,NI,NI,GROTA DO CIGANO,3,3
8,9,DARLAN DARLAN PARCEIRA,SCOOBY,PCC,GERENTE,NI,NI,NI,MORRO DO ARI,4,7
9,10,NI,NI,NI,NI,NI,NI,NI,NI,3,8
10,11,FELIPE VITAL DOS SANTOS,NI,CV,SOLDADO DO TRÁFICO,NI,NI,NI,PIABAS- JACINTINHO,1,11
11,12,THIAGO VITAL DE OLIVEIRA SANTOS,NI,CV,SOLDADO DO TRÁFICO,NI,NI,NI,PIABAS- JACINTINHO,1,11
12,13,JEFFERSON MELO ROSA DA SILVA,"MADIMBU, BU",CV,PAIOL/GUARDA-ROUPAS,NI,NI,NI,FEITOSA,1,10
13,14,LUCAS CABRAL LOPES,CABRAL/L7/L9,NI,CHEFE/LÍDER,NI,NI,NI,VILLAGE CAMPESTRE 2,3,3
14,15,JOSÉ EMERSON DA SILVA,"NEM CATENGA, JOVEM OU ABENÇOADO",NI,CHEFE/LÍDER,NI,NI,NI,"TODO ESTADO DE ALAGOAS, SENDO ORIUNDO DA VILA ...",3,3

## Bairros

In [53]:
df.bairro_atual = df.bairro_atual.str.upper()

In [54]:
print(df.groupby("bairro_atual").size())

bairro_atual
ALTO DA BARRA               1
ALTO DE SÃO MARCOS          1
BARRA NOVA                  3
BARRO DURO                  1
BENEDITO BENTES             4
BENEDITO BENTES             2
CABREIRAS                   3
CENTRO                      3
CIDADE UNIVERSITÁRIA        2
COMPLEXO DO ALEMÃO          1
CONJUNTO BARRO PRETO 2      1
DENISSON AMORIM             1
DOM CONSTANTINO             4
ERICK FERRAZ                2
JD BRASÍLIA                 1
JOSÉ DIAS                   1
JOSÉ NUNES                  1
MANOEL TELES                3
MASSAGUEIRA                 1
MASSARANDUBA                1
NI                        174
PARAISÓPOLIS                1
PEDRAS                      2
POEIRA                      1
PONTA GROSSA                1
POÇO                        2
QUILOMBO                    1
SANTA ISABEL                1
SANTA LUCIA                 1
SEM BAIRRO ATUAL            1
TABULEIRO                   1
TAPERAGUÁ                   3
VERGEL DO LAGO.             1
ZONA RURAL                  1
dtype: int64

In [55]:
df_grouped = df.groupby("bairro_atual").size().reset_index(name="Contagem")
df_grouped = df_grouped.drop("Contagem", axis=1)
df_grouped["bairro_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
df_grouped.to_csv("bairro.csv", index=False)

In [56]:
df["bairro_id"] = df.bairro_atual.copy()

In [57]:
df.bairro_id.replace(
    {
        "ALTO DA BARRA": 1,
        "ALTO DE SÃO MARCOS": 2,
        "BARRA NOVA": 3,
        "BARRO DURO": 4,
        "BENEDITO BENTES": 5,
        "BENEDITO BENTES": 6,
        "CABREIRAS": 7,
        "CENTRO": 8,
        "CIDADE UNIVERSITÁRIA": 9,
        "COMPLEXO DO ALEMÃO": 10,
        "CONJUNTO BARRO PRETO": 11,
        "DENISSON AMORIM": 12,
        "DOM CONSTANTINO": 13,
        "ERICK FERRAZ": 14,
        "JD BRASÍLIA": 15,
        "JOSÉ DIAS": 16,
        "JOSÉ NUNES": 17,
        "MANOEL TELES": 18,
        "MASSAGUEIRA": 19,
        "MASSARANDUBA": 20,
        "NI": 21,
        "PARAISÓPOLIS": 22,
        "PEDRAS": 23,
        "POEIRA": 24,
        "PONTA GROSSA": 25,
        "POÇO": 26,
        "QUILOMBO": 27,
        "SANTA ISABEL": 28,
        "SANTA LUCIA": 29,
        "SEM BAIRRO ATUAL": 30,
        "TABULEIRO": 31,
        "TAPERAGUÁ": 32,
        "VERGEL DO LAGO.": 33,
        "ZONA RURAL": 34,
    },
    regex=True,
    inplace=True,
)

## Cidade

In [58]:
df.cidade_atual = df.cidade_atual.str.upper()

In [59]:
print(df.groupby("cidade_atual").size())

cidade_atual
ARAPIRACA                5
ARAPIRACA - AL           1
BARRA DE SÃO MIGUEL      3
CIDADE DE ITAJAÍ         1
CORURIPE                 3
CORURIPE-AL              2
GIRAU DO PONCIANO        1
JOAQUIM GOMES            1
MACEIO                   8
MACEIO                   1
MACEIÓ                   6
MARECHAL DEODORO        21
MARECHALDEODORO          1
NI                     166
PENEDO                   4
PENEDO - AL              1
RIO DE JANEIRO           1
SAO PAULO                1
SÃO PAULO                1
dtype: int64

> Correção dos nomes ou Padronização

In [60]:
df.cidade_atual.replace(
    {
        "ARAPIRACA - AL": "ARAPIRACA",
        "CORURIPE-AL": "CORURIPE",
        "MARECHALDEODORO": "MARECHAL DEODORO",
        "PENEDO - AL": "PENEDO",
        "SAO PAULO": "SÃO PAULO",
        "MACEIO": "MACEIÓ",
    },
    regex=True,
    inplace=True,
)

In [61]:
df_grouped = df.groupby("cidade_atual").size().reset_index(name="Contagem")
df_grouped = df_grouped.drop("Contagem", axis=1)
df_grouped["cidade_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
df_grouped.to_csv("cidade.csv", index=False)

In [62]:
df["cidade_id"] = df.cidade_atual.copy()

In [63]:
df.cidade_id.replace(
    {
        "ARAPIRACA": 1,
        "BARRA DE SÃO MIGUEL": 2,
        "CIDADE DE ITAJAÍ": 3,
        "CORURIPE": 4,
        "GIRAU DO PONCIANO": 5,
        "JOAQUIM GOMES": 6,
        "MACEIÓ": 7,
        "MACEIÓ": 8,
        "MARECHAL DEODORO": 9,
        "NI": 10,
        "PENEDO": 11,
        "RIO DE JANEIRO": 12,
        "SÃO PAULO": 13,
    },
    regex=True,
    inplace=True,
)

In [64]:
df.head()

,Unnamed: 0,nome_completo,vulgo_alcunha,faccao,faccao_funcao,bairro_atual,cidade_atual,uf_atual,area_atuacao,faccao_id,funcao_id,bairro_id,cidade_id
0,1,KAYO NASCIMENTO DE MAGALHÃES,CABRA/ 99,NI,FINANCEIRO,NI,NI,NI,NI,3,6,21,10
1,2,JOSÉ MARIANO DOS SANTOS,RATO,NI,BRAÇO DIREITO,NI,NI,NI,NI,3,2,21,10
2,3,GIVALDO BARBOSA DE FRANÇA,QUINZINHO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3,21,10
3,4,JOSÉ ERIVALDO DA PAZ,ÍNDIO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3,21,10
4,5,LUCAS MANOEL DA SILVA,PROJETO,CV,SOLDADO DO TRÁFICO,NI,NI,NI,CLIMA BOM/FRONTEIRA,1,11,21,10

## UF atual

In [65]:
df.uf_atual = df.uf_atual.str.upper()

In [66]:
print(df.groupby("uf_atual").size())

uf_atual
AL     56
NI    167
PE      1
RJ      1
SC      1
SP      2
dtype: int64

In [67]:
df_grouped = df.groupby("uf_atual").size().reset_index(name="Contagem")
df_grouped = df_grouped.drop("Contagem", axis=1)
df_grouped["uf_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
df_grouped.to_csv("uf.csv", index=False)

In [68]:
df["uf_id"] = df.uf_atual.copy()

In [69]:
df.uf_id.replace(
    {
        "AL": 1,
        "NI": 2,
        "PE": 3,
        "RJ": 4,
        "SC": 5,
        "SP": 6,
    },
    regex=True,
    inplace=True,
)

In [70]:
df.head()

,Unnamed: 0,nome_completo,vulgo_alcunha,faccao,faccao_funcao,bairro_atual,cidade_atual,uf_atual,area_atuacao,faccao_id,funcao_id,bairro_id,cidade_id,uf_id
0,1,KAYO NASCIMENTO DE MAGALHÃES,CABRA/ 99,NI,FINANCEIRO,NI,NI,NI,NI,3,6,21,10,2
1,2,JOSÉ MARIANO DOS SANTOS,RATO,NI,BRAÇO DIREITO,NI,NI,NI,NI,3,2,21,10,2
2,3,GIVALDO BARBOSA DE FRANÇA,QUINZINHO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3,21,10,2
3,4,JOSÉ ERIVALDO DA PAZ,ÍNDIO,NI,CHEFE/LÍDER,NI,NI,NI,NI,3,3,21,10,2
4,5,LUCAS MANOEL DA SILVA,PROJETO,CV,SOLDADO DO TRÁFICO,NI,NI,NI,CLIMA BOM/FRONTEIRA,1,11,21,10,2

In [74]:
df = df.drop('Unnamed: 0', axis=1)
df.to_csv("faccionado.csv", index=False)

In [75]:
print(list(df.columns))
len(df.columns)

['nome_completo', 'vulgo_alcunha', 'faccao', 'faccao_funcao', 'bairro_atual', 'cidade_atual', 'uf_atual', 'area_atuacao', 'faccao_id', 'funcao_id', 'bairro_id', 'cidade_id', 'uf_id']

13

## Área de Atuação

In [ ]:
df.area_atuacao = df.area_atuacao.str.upper()

In [ ]:
print(df.groupby("area_atuacao").size())

area_atuacao
 CLIMA BOM/FRONTEIRA, CONJUNTO JARBAS OITICICA, CONJUNTO ANTÔNIO LINS (RIO LARGO) E LOTEAMENTO PALMAR NO RIO NOVO                                       1
11º BPM                                                                                                                                                 9
1A PONTE VALE DO REGINALDO                                                                                                                              1
9ª CPM/I - CORURIPE-AL                                                                                                                                  1
ALAMEDAS DA PAJUÇARA                                                                                                                                    2
ALAMEDAS PAJUÇARA                                                                                                                                       1
ALTO DO SÃO MIGUEL, RIO LARGO                                                                                                                           1
ARAPIRACA                                                                                                                                               5
ATALAIA;  MACEIÓ (CIDADE UNIVERSITÁRIA)                                                                                                                 1
ATUALMENTE ENCONTRA-SE NA CIDADE DE NOVO LINO/AL, CONTROLANDO O TRÁFICO NESTE MUNICÍPIO.                                                                1
BAIRRO TAPERAGUÁ - MARECHAL DEODORO                                                                                                                     1
BARRA DE SÃO MIGUEL                                                                                                                                     5
BARRA DE SÃO MIGUEL - ALTO DA BARRA                                                                                                                     1
BARRA DE SÃO MIGUEL E  PRAIA DOS COQUEIRAIS NO FRANCÊS                                                                                                  1
BARRA GRANDE                                                                                                                                            1
BARRA NOVA - MARECHAL DEODORO                                                                                                                           1
BRASIL NOVO                                                                                                                                             2
BREJAL (LEVADA)                                                                                                                                         1
BRISA DO LAGO, OLHO D AGUA DOS CAZUZINHOS, ARAPIRACA                                                                                                    1
CABREIRAS                                                                                                                                               1
CABREIRAS - MARECHAL DEODORO                                                                                                                            1
CAJUEIRO                                                                                                                                                1
CENTRO - MARECHAL DEODORO                                                                                                                               1
CENTRO DE MARECHAL DEODORO                                                                                                                              1
CIDADE SORRISO I                                                                                                                                        2
CLIMA BOM                                                                                                                                               8
CLIMA BOM (PRINCIPALMENTE ROSANE COLLOR E COLIBRI)                                                                                                      1
CLIMA BOM 1                                                                                                                                             1
CLIMA BOM, ROSANE COLLOR                                                                                                                                1
CLIMA BOM/FRONTEIRA                                                                                                                                     2
CONJ ERICK FERRAZ                                                                                                                                       1
CONJ JOAQUIM LEÃO, VERGEL DO LAGO                                                                                                                       1
CONJUNTO ALAMEDAS DA PAJUÇARA,                                                                                                                          1
CONJUNTO ANTÔNIO LINS                                                                                                                                   1
CONJUNTO BARNABÉ TOLEDO                                                                                                                                 1
CONJUNTO BARNABÉ TOLEDO - MARECHAL DEODORO                                                                                                              3
CONJUNTO ERICK FERRAZ - MARECHAL DEODORO                                                                                                                1
CONJUNTO MACEIÓ I                                                                                                                                       1
CONJUNTO OITICICA II                                                                                                                                    1
CONJUNTO RECANTO DA ILHA                                                                                                                                1
CONJUNTO SÃO CAETANO                                                                                                                                    1
CONJUNTO TAVARES GRANJA                                                                                                                                 1
CONJUNTO VALE BENTES 2                                                                                                                                  2
CONJUNTO VILLAGE CAMPESTRE II                                                                                                                           1
COQUEIRO SECO                                                                                                                                           2
COQUEIRO SECO E CONJUNTO IMBURI                                                                                                                         1
CORURIPE                                                                                                                                                2
CORURIPE-AL                                                                                                                                             2
DANDARA                                                                                                                                                 2
DENISSON AMORIM - MARECHAL DEODORO                                                                                                                      1
ENVOLVIMENTO COM TRÁFICO DE DROGAS NA REGIÃO DE NOVO LINO, CAMPESTRE, COLÔNIA LEOPOLDINA E FLEXEIRAS/AL. CHEFE DO TRÁFICO DA CIDADE DE NOVO LINO/AL     1
ERICK FERRAZ - MARECHAL DEODORO                                                                                                                         1
ESCADINHA (VIRGEM DOS POBRES I)                                                                                                                         1
ESCADINHA (VIRGEM DOS POBRES I)                                                                                                                         1
FAVELA DANDARA                                                                                                                                          3
FAVELA DANDARA                                                                                                                                          1
FAVELA SANTA MARIA, RIO LARGO                                                                                                                           1
FEITOSA                                                                                                                                                 7
FEITOSA, CRUZEIRO DO SUL, ROSANE COLLOR, CLIMA BOM, BOM PARTO                                                                                           1
FINAL                                                                                                                                                   1
FLEXEIRAS, RIO LARGO E MESSIAS.                                                                                                                         1
GIRAU DO PONCIANO                                                                                                                                       1
GROTA DA BIQUINHA                                                                                                                                       1
GROTA DO CIGANO                                                                                                                                         1
GROTA DO CIGANO/ PORTO DE PEDRAS                                                                                                                        1
JARDINEIRA E ADJASCENCIAS                                                                                                                               1
JARDINEIRA- JACINTINHO                                                                                                                                  4
JATIÚCA                                                                                                                                                 1
JOAQUIM GOMES                                                                                                                                           1
JOAQUIM GOMES E ARAPIRACA                                                                                                                               1
JOAQUIM LEÃO                                                                                                                                            1
LEVADA                                                                                                                                                  1
LEVADA E PRADO                                                                                                                                          1
LEVADA, VIRGEM DOS POBRES I, II E III                                                                                                                   1
LIDER                                                                                                                                                   1
LOTEAMENTO CASCA DURA                                                                                                                                   1
LUCILA TOLEDO                                                                                                                                           2
MACEIÓ E JOAQUIM GOMES                                                                                                                                  1
MACEIÓ E JOAQUIM GOMES                                                                                                                                  1
MACEIÓ I                                                                                                                                                2
MALHADAS - MARECHAL DEODORO                                                                                                                             1
MANOEL TELES                                                                                                                                            1
MANOEL TELES ARAPIRACA                                                                                                                                  1
MARECHAL DEODORO                                                                                                                                       25
MARECHAL DEODORO E ÁREA CORRESPONDENTE AO 1ºBPM                                                                                                         1
MASSAGUEIRA                                                                                                                                             1
MASSAGUEIRA - MARECHAL DEODORO                                                                                                                          1
MORRO DO ARI                                                                                                                                            1
MUTIRÃO                                                                                                                                                 1
NI                                                                                                                                                      9
ORIUNDO DA VILA BREJAL                                                                                                                                  1
ORIUNDO DA VILA BREJAL, LEVADA, MACEIÓ/AL                                                                                                               1
PALMARES - PE, COLÔNIA LEOPOLDINA - AL, XEXÉU - PE E DEMAIS CIDADES DA ZONA DA MATA SUL DE PERNAMBUCO.                                                  1
PCC                                                                                                                                                     1
PEDRAS - MARECHAL DEODORO                                                                                                                               1
PERNAMBUCO E ALAGOAS                                                                                                                                    2
PIABAS- JACINTINHO                                                                                                                                      4
POR TODO CLIMA BOM                                                                                                                                      1
POVOADO BARRA GRANDE - MARAGOGI                                                                                                                         1
POVOADO CABREIRAS                                                                                                                                       2
PRADO                                                                                                                                                   1
PRADO (OURICURI)                                                                                                                                        1
PRADO (OURICURI)                                                                                                                                        1
PRAIA DO FRANCÊS                                                                                                                                        2
PRAÇA SINIBU                                                                                                                                            1
REGINALDO (PREDINHOS/1A PONTE)                                                                                                                          1
REGINALDO/FEITOSA                                                                                                                                       1
REGIÃO DAS CABREIRAS - MARECHAL DEODORO                                                                                                                 1
RESIDENCIAL JOSÉ DIAS                                                                                                                                   1
RESIDENCIAL MACEIÓ I                                                                                                                                    1
RESIDENCIAL MACEIÓ I / SÍTIO SÃO JORGE                                                                                                                  1
RESIDENCIAL RECANTO DA ILHA - MASSAGUEIRA/MARECHAL DEODORO                                                                                              1
RISCA FACA, GROTA, SÃO BENTO NO MUNICÍPIO DE MARAGOGI,  E JAPARATINGA                                                                                   1
ROSANE COLLOR/COLIBRI                                                                                                                                   1
RUA 16                                                                                                                                                  1
RUA ESTIVA                                                                                                                                              1
RUA SANTO ANTONIO                                                                                                                                       3
RUA SANTO ANTÔNIO                                                                                                                                       1
SANTA LUZIA DO NORTE                                                                                                                                    1
SÃO MIGUEL DOS CAMPOS                                                                                                                                   1
TODO ESTADO DE ALAGOAS, SENDO ORIUNDO DA VILA BREJAL, EM MACEIÓ.                                                                                        1
UNIÃO DOS PALMARES                                                                                                                                      1
VALE DO REGINALDO                                                                                                                                       4
VALE DO REGINALDO                                                                                                                                       1
VALE DO REGINALDO E FEITOSA                                                                                                                             1
VERGEL DO LAGO, LEVADA E PONTA GROSSA                                                                                                                   1
VILA MATIAS, COHAB, BAIRRO VERMELHO, VALE DO SÃO FRANCISCO, VALE DO MARITUBA. ATUALMENTE ENCONTRA-SE EM SÃO PAULO.                                      1
VILLAGE CAMPESTRE                                                                                                                                       1
VILLAGE CAMPESTRE                                                                                                                                       1

In [ ]:
# df_grouped = df.groupby("area_atuacao").size().reset_index(name="Contagem")
# df_grouped = df_grouped.drop("Contagem", axis=1)
# df_grouped["area_atuacao_id"] = range(1, len(df_grouped) + 1)  # IDs sequenciais
# df_grouped.to_csv("carea_atuacao.csv", index=False)

In [ ]:
# df["area_atuacao_id"] = df.area_atuacao.copy()

# df.area_atuacao_id.replace(
#     {
#         "ARAPIRACA": 1,
#         "BARRA DE SÃO MIGUEL": 2,
#         "CIDADE DE ITAJAÍ": 3,
#         "CORURIPE": 4,
#         "GIRAU DO PONCIANO": 5,
#         "JOAQUIM GOMES": 6,
#         "MACEIÓ": 7,
#         "MACEIÓ": 8,
#         "MARECHAL DEODORO": 9,
#         "NI": 10,
#         "PENEDO": 11,
#         "RIO DE JANEIRO": 12,
#         "SÃO PAULO": 13,
#     },
#     regex=True,
#     inplace=True,
# )

# df.head()